.Container-nav {
  background-color: black;
}

.Container-nav nav {
  width: 70%;
  height: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  color: white;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 20px;
}

nav a:hover {
  color: #ff965a;
  transition: 0.2s ease-in-out;
}